.big-wrapper {

    width: 85%;
    margin: auto;
    height: 30rem;
    overflow: auto;
    background-color: #f5ebe0;
}

button {
    background-color: #344e41;
    color: white;
    font-size: large;

}

.parser-form {
    display: flex;
    margin: auto;
}

.button-wrapper {
    display: flex;
    justify-content: right;
}

.parser-form {
    display: flex;
    justify-content: center;
}


mat-form-field {
    width: 100%;
}

form {
    width: 70%;
}

.output {
    background-color: #f1faee;
    margin-top: 1rem;
}

mat-card-title {
    color: #344e41;
    font-weight: 700;
}