:host {
    display: block;
    margin-top: 2rem;
}

.info-text {
    text-align: center;
}

.things {
    margin-top: 0.5rem;
}


mat-card {

    width: 85%;
    margin: auto;
    height: 40rem;
    overflow: auto;
}

.mat-expanded {
    font-size: 1rem;
}

mat-card-title {
    margin-bottom: 2rem;
}

.credits {
    text-align: right;
    opacity: 50%;
    width: 90%;
    margin-top: 1rem;
    font-size: 1rem;
}

hr {
    margin-top: 0.5rem;
}